.git
.pytest_cache
__pycache__
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
.coverage
coverage
htmlcov
node_modules
frontend/coverage
frontend/node_modules
backend/htmlcov
backend/.pytest_cache
backend/__pycache__
backend/tests/__pycache__
devops/infra-build/terraform/.terraform
devops/infra-build/terraform/terraform.tfstate*
devops/infra-build/terraform/terraform.tfvars
.env
.env.*
